.app {
  border-color: black;
  border: solid 1px black;
  padding: 10px 100px;
}

.item:nth-child(1) {
  background-color:hsl(0, 0%, 100%);
}

.item:nth-child(2) {
  background-color: hsl(0, 0%, 90%);
}
