.app {
  border: solid 1px hsl(0, 0%, 65%);
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: 5px 5px 15px hsl(0, 0%, 70%);
  min-height: 50vh;
  max-height: 100vh;
  margin: 15vh auto;
  width: 30vw;
  overflow: auto;
}

#item-entry input {
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px hsl(240, 100%, 65%);
  padding: 8px 10px;
  font-size: 16px;
  width: 70%;
}

#item-entry input:hover {
  animation-name: textfocus;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#add-button {
  border-radius: 5px;
  padding: 8px 10px;
  margin: 0 15px;
}

@keyframes textfocus {
  100% {
    box-shadow: 2px 2px 5px hsl(0, 0%, 70%);
  }
}

#items ol {
  padding: 0;
}

.item {
  list-style-type: none;
  text-align: left;
  list-style: none;
  border: solid 1px hsl(0, 0%, 70%);
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.item-delete {
  background-color: transparent;
  border: none;
  font-size: 18px;
  background: transparent;
}

.item-delete:hover {
  animation-name: deletefocus;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes deletefocus {
  100% {
    font-size: 20px;
  }
}

.item:nth-child(odd) {
  background-color:hsl(0, 0%, 100%);
}

.item:nth-child(even) {
  background-color: hsl(0, 0%, 80%);
}
